

// ---background-color-list---------------
  // side-ber
  $background-color1: #253141; //header
  $background-color2: #2f3e51; //group-list
  // chat-main
  $background-color3: #ffffff; //header
  $background-color4: #fafafa; //message
  $background-color5: #d2d2d2; //form
  $background-color6: #38aef0; //send-btn
//----------------------------------------


// ---color-------------------------------
  // side-ber
  $font-color1: #ffffff;
  // chat-main
  $font-color2: #333333; //header__name
  $font-color3: #999999; //header__member
  $font-color4: #38aef0; //header__group-edit
  $font-color5: #333333; //message__left__name
  $font-color6: #434A54; //message__left__date
  $font-color7: #434a54; //message__comment
  $font-color8: black;   //form__
  $font-color9: white;   //form__
//----------------------------------------



